# Python Core
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Distributions and Builds
build/
dist/
*.egg

# OS/System
.DS_Store
Thumbs.db

# Virtual Environments
venv/
.venv/
env/

# Node
node_modules/

# Local Testing
test_env/

# Test Output
test_out.txt
test_cli_out.txt
